<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IX4InterfaceExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IX4InterfaceExample.Properties.Settings>
            <setting name="IX4InterfaceExample_WSPickPublic_WSPickPublic"
                serializeAs="String">
                <value>https://test.logistic-cloud.com/system/webservices/wspickpublic.asmx</value>
            </setting>
            <setting name="IX4InterfaceExample_ix4WebReference_ix4PublicInterface"
                serializeAs="String">
                <value>https://mackschuehle.logistic-cloud.com/system/webservices/wspickpublic.asmx</value>
            </setting>
        </IX4InterfaceExample.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LBAuthenticated">
                    <security mode="Transport" />
                </binding>
                <binding name="LBAuthenticated1" />
                <binding name="LBAuthenticated2">
                    <security mode="Transport" />
                </binding>
                <binding name="LBAuthenticated3" />
                <binding name="LBAuthenticated4">
                    <security mode="Transport" />
                </binding>
                <binding name="LBAuthenticated5" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://mackschuehle.logistic-cloud.com/system/webservices/wspickpublic.asmx"
                binding="basicHttpBinding" bindingConfiguration="LBAuthenticated"
                contract="ix4WebService.LBAuthenticated" name="LBAuthenticated" />
            <endpoint address="https://test.logistic-cloud.com/system/webservices/wspickpublic.asmx"
                binding="basicHttpBinding" bindingConfiguration="LBAuthenticated2"
                contract="testLogCloudPublicInterfaceService.LBAuthenticated"
                name="LBAuthenticated1" />
            <endpoint address="https://mackschuehle.logistic-cloud.com/system/webservices/wspickpublic.asmx"
                binding="basicHttpBinding" bindingConfiguration="LBAuthenticated4"
                contract="ServiceFromWSDL.LBAuthenticated" name="LBAuthenticated2" />
        </client>
    </system.serviceModel>
</configuration>